<a href="https://colab.research.google.com/github/rachelspringer77/SpringerPython451Final/blob/main/RachelSpringer_HW02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

In [ ]:
import pandas as pd
import numpy as np

### Step 3. Read the following URL and assign it to a variable called chipo.    
NOTE: It is a TSV file, not CSV. Find out how to read TSV using read_csv in Pandas.

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Show/print the first **20** entries

In [ ]:
chipo.head(20)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75

### What is the number of observations in the dataset?

In [ ]:
# Solution
#What is the number of observations in the dataset?
num_observations = chipo.shape[0]
print("Number of observations:", num_observations)

Number of observations: 4622

### What is the number of columns in the dataset? Names of the columns in the dataset?

In [ ]:
#What is the number of columns in the dataset? Names of the columns in the dataset?
num_columns = chipo.shape[1]
column_names = chipo.columns
print("Number of columns:", num_columns)
print("Column names:", column_names)

Number of columns: 5
Column names: Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### What was the most-ordered item? In how much quantity in total was it ordered?

In [ ]:
# Read the data from the URL
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

item_quantity = chipo.groupby('item_name')['quantity'].sum()

most_ordered_item = item_quantity.idxmax()
total_quantity = item_quantity.max()

print("Most ordered item:", most_ordered_item)
print("Total quantity ordered:", total_quantity)

Most ordered item: Chicken Bowl
Total quantity ordered: 761


### What was the most ordered item in the choice_description column? How many were ordered?

In [ ]:
# Read the data from the URL
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

# Group by choice_description and sum the quantity
choice_quantity = chipo.groupby('choice_description')['quantity'].sum()

# Find the most ordered choice and its quantity
most_ordered_choice = choice_quantity.idxmax()
total_choice_quantity = choice_quantity.max()

# Print the results
print("Most ordered item in choice_description:", most_ordered_choice)
print("Total quantity ordered:", total_choice_quantity)

Most ordered item in choice_description: [Diet Coke]
Total quantity ordered: 159

### How many items were orderd in total?

In [ ]:
# Read the data from the URL
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

# Calculate the total quantity ordered
total_items_ordered = chipo['quantity'].sum()

# Print the result
print("Total items ordered:", total_items_ordered)

Total items ordered: 4972

### Provide a list of unique items offered for sale to eat at Chipotle.

In [ ]:
# Read the data from the URL
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

# Get unique items from the 'item_name' column
unique_items = chipo['item_name'].unique()

# Print the unique items
print("Unique items offered for sale:")
for item in unique_items:
    print(item)

Unique items offered for sale:
Chips and Fresh Tomato Salsa
Izze
Nantucket Nectar
Chips and Tomatillo-Green Chili Salsa
Chicken Bowl
Side of Chips
Steak Burrito
Steak Soft Tacos
Chips and Guacamole
Chicken Crispy Tacos
Chicken Soft Tacos
Chicken Burrito
Canned Soda
Barbacoa Burrito
Carnitas Burrito
Carnitas Bowl
Bottled Water
Chips and Tomatillo Green Chili Salsa
Barbacoa Bowl
Chips
Chicken Salad Bowl
Steak Bowl
Barbacoa Soft Tacos
Veggie Burrito
Veggie Bowl
Steak Crispy Tacos
Chips and Tomatillo Red Chili Salsa
Barbacoa Crispy Tacos
Veggie Salad Bowl
Chips and Roasted Chili-Corn Salsa
Chips and Roasted Chili Corn Salsa
Carnitas Soft Tacos
Chicken Salad
Canned Soft Drink
Steak Salad Bowl
6 Pack Soft Drink
Chips and Tomatillo-Red Chili Salsa
Bowl
Burrito
Crispy Tacos
Carnitas Crispy Tacos
Steak Salad
Chips and Mild Fresh Tomato Salsa
Veggie Soft Tacos
Carnitas Salad Bowl
Barbacoa Salad Bowl
Salad
Veggie Crispy Tacos
Veggie Salad
Carnitas Salad

### How many different items are sold?

In [ ]:
# Read the data from the URL
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

# Get unique items and count them
num_different_items = chipo['item_name'].nunique()

# Print the result
print("Number of different items sold:", num_different_items)

Number of different items sold: 50

### How much revenue was generated for the period in the dataset?

In [ ]:
# Read the data from the URL
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

# Convert 'item_price' to numeric
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

# Calculate total revenue
total_revenue = (chipo['quantity'] * chipo['item_price']).sum()

# Print the result
print("Total revenue generated:", total_revenue)

Total revenue generated: 39237.02

### What is the average revenue amount per order?

In [ ]:
# Read the data from the URL
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

# Convert 'item_price' to numeric
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

# Calculate revenue per order
chipo['revenue_per_order'] = chipo['quantity'] * chipo['item_price']

# Calculate average revenue per order
average_revenue_per_order = chipo.groupby('order_id')['revenue_per_order'].sum().mean()

# Print the result
print("Average revenue amount per order:", average_revenue_per_order)

Average revenue amount per order: 21.39423118865867

### How many orders were made in the period?

In [ ]:
# Read the data from the URL
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

# Calculate the number of unique orders
num_orders = chipo['order_id'].nunique()

# Print the result
print("Number of orders made:", num_orders)

Number of orders made: 1834

### How much revenue was generated selling the second most popular item in the menu?

In [ ]:
# Read the data from the URL
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

# Convert 'item_price' to numeric
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

# Calculate total quantity sold for each item
item_quantity = chipo.groupby('item_name')['quantity'].sum()

# Find the second most popular item
second_most_popular_item = item_quantity.sort_values(ascending=False).index[1]

# Filter data for the second most popular item
filtered_data = chipo[chipo['item_name'] == second_most_popular_item]

# Calculate revenue for the second most popular item
revenue_second_most_popular = (filtered_data['quantity'] * filtered_data['item_price']).sum()

# Print the result
print("Revenue generated from the second most popular item:", revenue_second_most_popular)

Revenue generated from the second most popular item: 6387.0599999999995